Library/
Temp/
Obj/
Build/
Builds/
Logs/
UserSettings/
MemoryCaptures/
.vs/
.idea/
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
.DS_Store
Thumbs.db
Library/
Temp/
Logs/
Obj/
Build/
Builds/
UserSettings/
